:host {
  position: relative;
  overflow: auto;
  height: 90%;
  background-color: #f5f5f5;
  width: calc(96% - 100px);
  margin: auto 0;
  box-shadow: 6px 0px 9px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
  padding: 10px 20px;
}
